{"http_interactions":[{"request":{"method":"delete","uri":"http://api.dotide.com/v1/dotide-test/datastreams/loc-123456/datapoints","body":{"encoding":"UTF-8","base64_string":"eyJzdGFydCI6IjIwMTQtMDEtMDNUMDA6MDA6MDFaIiwiZW5kIjoiMjAxNC0w\nMS0wM1QwMDoyMDowMVoifQ==\n"},"headers":{"Authorization":["Bearer <DOTIDE_ACCESS_TOKEN>"]}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["text/html; charset=utf-8"], "Status":["404 Not Found"], "X-Cascade":["pass"]},"body":{"encoding":"UTF-8","base64_string":"Tm90IEZvdW5k\n"},"http_version":null},"recorded_at":"Sat, 01 Mar 2014 06:38:00 GMT"}],"recorded_with":"VCR 2.4.0"}